* {
	padding: 0;
	margin: 0;
}

#sidebar{
	float: left;
	width: 200px;
	height: 100%;
	padding: 10px;
}

#board{
	width: 375px;
	height: 375px;
	margin: 100px;
	display:inline-block;
	box-shadow: 5px 5px 5px 5px #888888;
}

.block{
	width: 120px;
	height: 120px;
	display: inline-block;
	border: 1px solid black;
}

.block:hover {
	box-shadow: inset 0px 0px 10px 1px #FFE545;
}

.x{
	background:url(greenx.png);
	background-size:100%;
}

.o{
	background:url(purpleo.png);
	background-size:100%;
}

.turns{
	width: 100px;
	height: 20px;
	display: block;
	padding: 20px;
	box-shadow: 10px 10px 5px #888888;
	margin-top:60px;
	font-size: 20px;
	border: 1px solid #888888;
	border-radius: 25px;
	text-align: center;
}

.restart{
	margin-top: 20px;
	font-size: 20px;
	border: 1px solid #888888;
	border-radius: 25px;
	text-align: center;
}
